body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.en {
  font-family: 'Playfair', serif;
  font-size: 20px;
}
h1, h2, p, a, ul, li, span{
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

/* header */
header {
  background-color: #66c7d9;
  color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
}
.headerLogo{
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.headerContainer {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.logoSub {
  font-size: 14px;
}
.headerRight {
  text-align: right;
}
.headerRight a {
  margin-left: 20px;
  color: #fff;
  display: inline-block;
}
.notLoginNav a{
  border-bottom: 1px solid #fff;
}
.notLoginNav a:hover {
  font-weight: bold;
}
.loginNav {
  display: flex;
  padding: 0;
}

@media screen and (max-width: 640px) {
  .headerLogo{
    font-size: 28px;
    position: relative;
  }
  .headerLogo a {
    position: absolute;
    top: 0;
  }
  .headerContainer {
    padding: 10px 10px;
  }
  p.logoSub {
    display: none;
  }
  .headerRight p {
    font-size: 12px;
  }
  .headerRight a {
    margin-left: 14px;
    font-size: 12px;
  }
  .loginNav {
    gap: 5px;
  }
}
@media screen and (max-width: 400px) {
  .UserIcon-Wrapper {
    display: none;
  }
}



/* footer */
footer {
  background-color: #f7f5ec;
  color: #5a8c68;
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.footerContainer {
  width: fit-content;
  padding-top: 20px;
}


/* header, footerを除くbody */
.mainContainer {
  padding-top: 120px;
  background:
    linear-gradient(to top, rgba(0, 225, 255, 0.099), rgba(246, 192, 255, 0.112)),
    linear-gradient(to right, rgba(0, 225, 255, 0.099), rgba(246, 192, 255, 0.112));
}
@media screen and (max-width: 640px) {
  .mainContainer {
    padding-top: 80px;
  }
}


/* 読み込み中表示 */
.LoadingContainer{
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}
.LadingContent{
  width: 250px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #5a8c68;
  border-radius: 20px;
  margin: 150px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}
.LadingContent img {
  margin: 20px auto;
  animation: flowerRotation 3000ms linear infinite
}
@keyframes flowerRotation {
  0% {
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* 一覧に戻るボタン */
.backToList {
  width: fit-content;
  margin: 20px auto;
}
.backToList a {
  color: #f06543;
  border-bottom: 1px solid #f06543;
}
.backToList a:hover {
  opacity: 50%;
}
.backButton {
  width: fit-content;
  margin: 0 auto 60px auto;
}
.backButton a {
  width: fit-content;
  margin-bottom: 30px;
  color: #000;
  border-bottom: 1px solid #000;
}


/* like数表示 (/app/page.tsx)*/
.likePosition {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.hasLiked {
  color :#f06543;
  filter: brightness(1.4);
}
.hasNotLiked {
  color: gray;
}

/* likeボタン (/components/likeCount.tsx) */
.mahaloBtn {
  margin: 10px 0 0 auto;
  background-color: #fff;
  width: fit-content;
  border-radius: 10px;
  padding: 5px 10px;
  color: #f06543;
  border: 2px solid #f06543;
  filter: brightness(1.4);
  font-weight: 700;
  position: relative;
}
.mahaloBtn:hover{
  opacity: 50%;
}
.mahaloDisBtn {
  margin: 10px 0 0 auto;
  background-color: #f06543;
  filter: brightness(1.4);
  width: fit-content;
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
  font-weight: 700;
}


/* 一覧画面(/page.tsx) */
.allItemsContainer {
  /* background:
    linear-gradient(to top, rgba(0, 225, 255, 0.099), rgba(246, 192, 255, 0.112)),
    linear-gradient(to right, rgba(0, 225, 255, 0.099), rgba(246, 192, 255, 0.112)); */
  padding-bottom: 40px;
  min-height: 80vh;
}
.supInf p{
  font-size: 14px;
  color: #606060;
}
.createdDay {
  font-size: 12px;
  margin-bottom: 10px;
}
.categoryIcon {
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 5px;
  border: 0.5px solid #000;
  border-radius: 0px;
  padding: 0 5px;
  font-size: 12px;
}
  /* ソートボタン */
.sortBtn {
  position: fixed;
  z-index: 300;
  top: 130px;
  left: 10px;
}
@media screen and (max-width: 640) {
  .sortBtn{
    top: 90px;
  }
}
.sortBtn button {
  border: none;
  background-color: rgba(255, 255, 255, 7.5);
  /* color: rgb(245, 128, 146); */
  /* color: #A1A1A1; */
  color: #ff9dd9;
}
.toolBoxContainer {
  position: fixed;
  z-index: 200;
  max-width: 350px;
  left:10px;
}
.toolBoxContent {
  padding: 20px;
}
.toolBoxContent p{
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}
.toolBoxClear {
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
}
.toolBoxClear button{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #626161;
}
.toolBoxClear button:hover{
  color: #000
}
.toolBoxSearch {
  margin-bottom: 40px;
}
.toolBoxSearch input{
  width: 250px;
  font-size: 16px;
}
.toolBoxSearch button{
  border: none;
  background-color: rgba(255, 255, 255, 0);
  margin-top:10px;
}

/* 検索結果が1つもない時 */
.noPost {
  width: fit-content;
  height: 80vh;
}
.noPost p{
  margin-top: 40px;
}
.noPost button {
  margin: 30px 40px;
  background-color: rgba(0,0,0,0);
  border: none;
  color: #A1A1A1;
}
.noPost button:hover {
  color: #000;
}

/* １投稿表示 */
/* 雑誌風記事(app/post/readsingle/page.tsx) */
.horizontalLineMedium {
  border-bottom: 1px solid #000000;
  max-width: 600px;
  min-width: 320px;
}
.singlePostContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.singlePostContent {
  width: 600px;
  margin: 80px 20px 0 20px;
  padding: 0;
}
@media screen and (max-width: 640px) {
  .singlePostContent {
    width: 320px;
    margin: 60px 30px 0 30px;
  }
}
/* ロケーション */
.locationContainer {
  margin-bottom: 140px;
}
.locationContent {
  margin-bottom: 60px;
}
.locationLabel h2 {
  font-size: 32px;
  font-weight: 500;
}
.locationName {
  font-weight: 700;
  font-size: 20px;
  width: fit-content;
  margin-top: 82px;
  margin-bottom: 32px;
}
@media screen and (max-width: 640px) {
  .locationName{
    margin-top: 40px;
  }
}
.googleMapContainer {
  width: 600px;
  height: 350px;
  background-color: #66c7d9;
}
.googleMapName {
  margin-top: 32px;
}
/* (app/components/googleMap.tsx) */
.googleMapContainer {
  width: 600px;
  height: 350px;
}
/* コメント */
.commentLabel{
  font-size: 32px;
  font-weight: 500;
}
.commentLabel.en {
  margin: 0;
}
@media screen and (max-width: 640px) {
  .googleMapContainer {
    width: 320px;
    height: 320px;
    margin: 0 auto;
  }
  .commentLabel {
    margin-bottom: 30px;
  }
}

/* コメント取得(app/components/comment.tsx) */
.commentContent{
  display: flex;
  gap: 20px;
  padding: 20px 0;
  align-items: center;
}
.commentContainer p {
  width: fit-content;
  height: fit-content;
}
.noCommentYet p{
  margin-top: 20px;
  margin-bottom: 20px;
}
/* コメント追加(app/components/commentCreate.tsx) */
.commentCreateForm {
  max-width: 600px;
  display: inline-flex;
  gap: 40px;
  margin-top: 0px;
  margin-bottom: 40px;
}
.commentCreateForm textarea {
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  width: 500px;
  font-size: 18px;
}
.commentCreateForm button {
  width: 60px;
  height: 60px;
  background-color: #66c7d9;
  border-radius: 18px;
  border: none;
}
.commentCreateForm button:hover {
  background-color: #4a96a4;
}
@media screen and (max-width: 640px) {
  .commentCreateForm {
    width: 100%;
    gap: 10px;
  }
  .commentCreateForm textarea {
    font-size: 16px;
    width: 100%;
  }
}
/* 記事リンクボタン */
.singlePageLink{
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px 30px;
  color: #000;
  background-color: #fff;
  font-weight: 700;
  letter-spacing: 5%;
}
.singlePageLink:hover {
  background-color: #c5c4c4;
}
.back {
  display: flex;
  justify-self: center;
  margin: 140px 0 60px 0;
}
.editDeleteContainer {
  display: flex;
  gap: 60px;
  margin: 60px auto;
  justify-content: center;
}
@media screen and (max-width: 640px) {
  .editDeleteContainer{
    gap: 30px;
    margin: 40px auto;
  }
}

/* 記事整形(app/components/singlePostLayout.tsx) */
/* 記事ヘッドパート */
.horizontalLineLight{
  border-bottom: 1px solid #A1A1A1;
  width: 100%;
}
.headContent {
  width: 100%;
}
.headCategory {
  margin-bottom: 10px;
}
.headInf {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 0;
}
.headInf p {
  width: fit-content;
  height: fit-content;
}
.headInfUser {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
/* 記事セクション */
.verticalLine{
  border-left: 1px solid #A1A1A1;
  width: 1px;
  height: 50px;
}
.sectionContent {
  margin-bottom: 140px;
}
.sectionContent h1 {
  font-size: 26px;
  width: fit-content;
  letter-spacing: 5%;
  font-weight: 700;
}
.sectionTitle {
  display: flex;
  gap: 20px;
  margin: 80px 10px 60px 0;
}
@media screen and (max-width: 640px) {
  .verticalLine{
    margin-left: 10px;
  }
  .sectionContent h1 {
    font-size: 20px;
  }
  .sectionTitle {
    margin: 80px 10px 30px 0;
  }
}
/* 画像 */
.sectionImageContainer{
  width: 600px;
  height: 350px;
  overflow: hidden;
  background-color: #b1f1fc8b;
}
.sectionImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sectionImageDescription{
  margin-top: 32px;
  margin-bottom: 100px;
  font-size: 18px;
}
@media screen and (max-width: 640px) {
  .sectionImageContainer{
    width: 320px;
    height: 320px;
  }
  .sectionImageDescription{
    width: 320px;
    font-size: 16px;
  }
  .sectionImage {
    width: 320px;
    margin: 0 auto;
  }
}


/* ログイン画面(login/pages.tsx) and 新規登録画面(register/pages.tsx)　 */
.authContainer {
  min-height: 700px;
  height: 100vh;
  margin-top: 150px;
}
@media screen and (max-width:640px) {
  .authContainer {
    margin-top: 110px;
  }
}
.authContent {
  margin: 100px auto;
  max-width: 600px;
  padding-bottom: 30px;
}
.authContent h2{
  width: fit-content;
  margin: 30px auto 10px auto;
}
.userFormItem {
  width: 70%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
}
.userFormItem p {
  width: fit-content;
  font-size: 12px;
  color: #A1A1A1;
  position: absolute;
  right: 0;
}
.authContent input {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  font-size: 18px;
}
.userFormInput{
  width: 100%;
}
.userAuthBtn {
  display: flex;
  justify-content: center;
  width: 100%;
}
.userAuthBtn button{
  width: 70%;
  margin-top: 30px;
}
.userAuthLink {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.userAuthLink a {
  font-size: 12px;
  color: #4a96a4;
}
.userAuthLink a:hover {
  font-weight: 700;
}

/* プロフィール編集画面 (/app/mypage/editmypage.tsx)*/
.profileEditContainer {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  padding: 20px;
}
@media screen and (max-width: 640px) {
  .profileEditContainer {
    margin-top: 120px;
  }
}
.profileEditContent {
  width: 600px;
}
.profileEditContent h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}
@media screen and (max-width:640px) {
  .profileEditContent h2 {
    font-size: 26px;
  }
}
.profileDataLabel {
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.dataCount {
  font-size: 12px;
  color: #a1a1a1;
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 640px) {
  .profileEditContent {
    width: 350px;
  }
}
.selectIcon {
  display: flex;
  align-items: center;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileEditContent input, .profileEditContent textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #f0664315;
}
.profileEditContent textarea {
  height: 150px;
}
@media screen and (max-width:640px) {
  .profileEditContent textarea {
    height: 200px;
  }
}
.profileEditBtn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.profileEditBtn button {
  background-color: #fff;
  padding: 10px 50px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  border: 1px solid #000000;
}
@media screen and (max-width:640px) {
  .profileEditBtn button {
     font-size: 16px;
      padding: 10px 20px;
  }
}
.profileEditBtn button:hover {
  background-color: #A1A1A1;
  color: #fff;
}
/* エラーメッセージ表示 */
.inputErrorMsg {
  font-size: 14px;
  color: red;
}

/* 投稿作成画面 create.tsx */
.createContainer {
  width: 100%;
  padding-top: 114px;
}
@media screen and (max-width: 640px) {
  .createContainer{
    padding: 40px 15px 0 15px;
  }
}
.createContent {
  min-width: 350px;
  max-width: 600px;
  margin: 80px auto 0 auto;
}
.createContent input:not(.selectImageBox), textarea{
  background-color: #f0664315;
  padding: 10px;
}
.createTitle {
  min-width: 350px;
  max-width: 600px;
  margin: 60px auto 0 auto;
}
.createTitle h1 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
  .createTitle {
    margin: 80px auto 0 auto;
  }
  .createContent {
    max-width: 350px;
    min-width: 300px;
    margin: 60px auto;
  }
  .createTitle h1{
    font-size: 20px;
    margin-bottom:20px;
  }
}
.postElement {
  margin-top: 70px;
  margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
  .postElement {
  margin-top: 50px;
  margin-bottom: 10px;
  }
}
.title textarea {
  border: none;
  font-size: 32px;
  width: 100%;
  padding: 20px;
  outline: none;
  font-weight: 700;
}
@media screen and (max-width: 640px) {
  .title textarea {
    font-size: 16px;
    padding: 10px;
  }
}
.locationContent input{
  font-size: 18px;
  border: none;
  outline: none;
  width: 100%;
}
.addGoogleMap summary{
  color:#66c7d9;
}
.addGoogleMap {
  margin-bottom: 105px;
  font-weight: 700;
}
.toPreviewBtn {
  display: flex;
  justify-content: center;
}
.toPreviewBtn button{
  margin: 60px auto;
  background-color: #fff;
  padding: 10px 50px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  border: 1px solid #000;
}
@media screen and (max-width:640) {
  .toPreviewBtn button {
    font-size: 16px;
    padding: 10px 20px;
  }
}
.toPreviewBtn button:hover {
  background-color: #A1A1A1;
  color: #fff;
  border: none;
}

/* cloudinary (/app/components/imgInput.tsx) */
.hiddenInput{
  display: none;
}
.previewImageContainer {
  max-width: 600px;
  min-width: 300px;
  height: 350px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  background-color: #e0dfdf;
}
.selectImageBtn {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 640px) {
  .previewImageContainer {
    width: 320px;
    height: 320px;
    margin: 0 auto;
  }
  .imgInput label {
    width: 320px;
    height: 320px;
    margin: 0 auto;
  }
  .selectImageBtn {
    width: 320px;
    height: 320px;
    margin: 0 auto;
  }
}
.selectImageBtn p {
  width: fit-content;
  margin: auto;
  position: absolute;
  top: 50px;
  left: 200px;
  font-size: 100px;
  z-index: 100;
  font-weight: 700;
}
@media screen and (max-width: 640px) {
  .selectImageBtn p {
    top: 50px;
    left: 70px;
  }
}
.previewImageContainer:hover{
  background-color:  #66c7d9;
}
.imgInput img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: 200;
}
/* (/app/components/postSectionEditor.tsx) */
.sectionNo{
  font-size: 20px;
  margin-bottom: 20px;
}
.imageURLContent {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.imageURLContent button {
  background-color: #fff;
  font-size: 14px;
  color: #a1a1a1;
  border: 1px solid #a1a1a1;
  border-radius: 3px;
  margin: 5px 0;
}
.imageURLContent button:hover {
  color: #000;
  border: 1px solid #000;
}
.selectImageBox {
  width: 80%;
  background-color: #fff;
  border: none;
  font-size: 14px;
}
.createSection textarea {
  width: 100%;
  height: 150px;
  font-size: 18px;
  border: none;
  outline: none;
  margin-bottom: 70px;
  line-height: 24px;
}
@media screen and (max-width: 640px) {
  .createSection textarea {
    margin: 0 auto 70px auto;
    font-size: 16px;
  }
}
.addSectionBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.addSectionBtn button{
  color: #66c7d9;
  border: 1px solid #66c7d9;
  background-color: #fff;
  font-size: 20px;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 20px;
  margin: 0 auto;
  font-weight: 700;
}
@media screen and (max-width:640) {
  .addSectionBtn button {
    font-size: 16px;
    padding: 10px 20px;
  }
}
.addSectionBtn button:hover {
  color: #fff;
  background-color: #66c7d9;
}


/* 投稿プレビューページ */
/* (/post/createPreview/page.tsx) */
.createPreviewLayout{
  padding-top:40px;
}

/* 削除ページ */
/* (/delete/[id]/page.tsx) */
.deleteConfirmMsg h1 {
  font-size: 26px;
  margin-bottom: 5px;
  margin-top: 60px;
}
.deleteConfirmMsg p {
  font-size: 18px;
  margin-bottom: 60px;
  font-weight: 700;
  color: red;
}
/* /delete/[id]/form.tsx */
.deleteConfirmItem {
  margin-bottom: 20px;
}
.deleteImage {
  width: 100%;
  display: flex;
  justify-content: center;
}
.deleteItem {
  margin: 20px 0;
}

/* マイページ (/app/readmypage/form.ts) */
.myPageContainer {
  padding: 0 10px;
  width: 100vw;
}
.myPageContent {
  width: 600px;
  margin: 180px auto 60px auto;
}
@media screen and (max-width: 640px) {
  .myPageContent {
    width: 350px;
    margin: 120px auto 0 auto;
  }
  .myPageContent h2 {
    font-size: 26px;
  }
}
.toEditBtnContent {
  width: 100%;
  display: flex;
  justify-content: end;
}
.profile a {
  display: inline-flex;
  margin: 10px
}
.toEditProfile {
  width: fit-content;
  color: #66C7D9;
}
.toEditProfile:hover {
  color: #4a96a4;
}
.profileIconBorder {
  width: 270px;
  height: 270px;
  border: 1px solid #A1A1A1;
  border-radius: 50%;
  margin: 40px auto 30px auto;
}
.profileIconContainer {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin: 9px auto;
}
.profileIconContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}
@media screen and (max-width: 640px) {
  .profileIconBorder {
    width: 220px;
    height: 220px;
  }
  .profileIconContainer {
    width: 200px;
    height: 200px;
  }
}
.profileName {
  width: fit-content;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  color: #626161;
}
.profileComment {
  height: fit-content;
  width: fit-content;
  max-width: 500px;
  margin: 30px auto 100px auto;
  color: #626161;
  font-size: 18px;
}
@media screen and (max-width: 640px) {
  .profileComment {
    width: fit-content;
    max-width: 320px;
    margin: 20px auto 100px auto;
    font-size: 16px;
  }
}
.myPostContainer {
  width: 600px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 65px;
}
@media screen and (max-width: 640px) {
  .myPostContainer {
    width: 350px;
    justify-content: center;
    padding-top: 30px;
  }
}
.myPostContent {
  width: 280px;
  height: 280px;
  border: 0.5px solid #A0A0A0;
  margin-bottom: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}
.myPostContent:hover {
  box-shadow: 0 8px 18px rgba(0,0,0,0.5);
  opacity: 0.8;
}
.myPagePostImg {
  width: 280px;
  height: 220px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.myPagePostImg img {
  width: 100%;
  height: 100%;
}
.myPostContent p {
  font-size: 16px;
  color: #626161;
  padding: 10px;
}
.noMyPost {
  width: fit-content;
  margin: 0 auto;
  color: #626161;
}

/* (/components/placeAutocomplete.tsx) */
.autocompletedPlace {
  margin-top:20px;
}
.autocompletedPlace p:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
  color:#66C7D9;
}
.autocompletedPlace p:nth-child(2) {
  border: 1px solid #66C7D9;
  border-radius: 10px;
  min-height: 20px;
  padding: 20px;
  margin-top: 5px;
  color:#66C7D9;
}
